body{
	font-family: sans-serif;
}
.gallary{
	margin: 9px 9px;
}
.gallary img{
	width: 20%;
	height: 20%;
	padding: 3px;
	#filter: grayscale(100%);
	transition: 0.6s;

}
.gallary img:hover{
	#filter: grayscale(0);
	transform: scale(1.5);
	overflow: hidden;
}